{% extends 'customerapp/userhome.html' %}

{% block content %}
<div style="padding:30px;">
    <header>
      <h1>Hii , {{name}}</h1>
        <h1>Welcome to ArtGallery – Where Beauty Meets Culture!</h1>
    </header>
    <p>Step into a world of exquisite artistry and tradition as you explore our collection of Kondapalli crafts. We are thrilled to have you here, and we invite you to immerse yourself in the rich heritage and vibrant creativity that these incredible artworks represent.</p>
    <p>At [Your Gallery Name], we are dedicated to preserving and celebrating the unique craft of Kondapalli artisans. Every piece you see on our website has been lovingly handcrafted, carrying with it a piece of history and a touch of the artisan's soul.</p>
    <p>As you browse our gallery, we hope you find inspiration, joy, and perhaps even the perfect Kondapalli piece that speaks to your heart. Whether you're an art enthusiast or a collector, we're here to make your experience memorable and enjoyable.</p>
    <p>Thank you for visiting us and supporting the talented artists who bring Kondapalli art to life. Feel free to explore our collection, and if you have any questions or need assistance, please don't hesitate to reach out. Your journey through our gallery is just beginning, and we're excited to share it with you.</p>
    <p>Happy exploring!</p>
  </div>
{% endblock %}
